@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

$color_fondo:#283845;
$color_efecto:#F2D492;
$color_texto:#FFFFFF;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $color_fondo;
    .contenedor{
        width: 70%;
        height: 55px;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            a{
                color: $color_texto;
                font-weight: 600;
                font-size: 24px;
                text-transform: uppercase;
            
            }
            .opcion{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                margin-left: 20px;
                
            }
            .opcion::before {
                content: " ";
                width: 0%;
                height: 8%;
                background-color: $color_efecto;
                position: absolute;
                top: 0px;
                left: 0px;  
                z-index: 1;
                transition: all 0.5s;
            }
            .opcion::after {
                content: " ";
                width: 0%;
                height: 7%;
                background-color: $color_efecto;
                position: absolute;
                bottom: 0px;
                right: 0px;
                transform: rotate(180deg);
                transition: all 0.5s;
            }
            .opcion:hover{
                a{color: $color_efecto;}
                &::after{
                    width: 100%;
                }
                &::before{
                    width: 100%;
                }
               
            }
        }
        }
    }
